@media only screen and (min-width: 768px)   {
.App {
  text-align: center;
}
.App-logotext {
  height: 12vmin;
  width: 28vmin;
  margin: 65px;
  margin-top: -85vmin;
}
.App-logo {
  margin: 45px;
  width: 30vmin;
  animation: App-logo-spin infinite 2s linear;
  margin-top: -13vmin;
}
.Title-home {
  margin: 22px;
  font-size: calc(1px + 2vmin);
  margin-top: -3vmin;
}
.Content-home {
  background-color: #92daee;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #15181a;
}
.Container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #92daee ;
  margin-top: -25vmin;
}
.btnOnClick {
  height: 12vmin;
  width: 35vmin;
  font-size: calc(16px + 3vmin);
  background-color: rgb(255, 156, 181);
  border-radius: 3vmin;
  border: 2px solid #15181a ;
  color: #15181a ;
  margin-top: -5vmin;
}
}
/*For desktop*/
@media only screen and (min-width: 1024px) {
.App-logotext {
    margin: 96px;
    height: 11vmin;
    width: 38vmin;
    margin-top: -75vmin;
}
.Title-home {
  font-size: calc(9px + 2vmin);
  color: #15181a;
  padding: 0px 0px 0px 0px;
  margin: 25px;
  margin-top: -31vmin;
}
.App-logo {
  animation: App-logo-spin infinite 2s linear;
  margin-left: 0vmin;
  margin-top: -12vmin;
  width: 25vmin;
}
.Content-home {
  background-color: #92daee;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #15181a;
}
.App-link {
  color: #61dafb;
}
.Container-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #92daee ;
  margin-top: -25vmin;
}
  .btnOnClick {
  height: 10vmin;
  width: 30vmin;
  font-size: calc(6px + 4vmin);
  background-color: rgb(255, 156, 181);
  border-radius: 3vmin;
  border: 2px solid #15181a ;
  color: #15181a ;
  margin-top: 10vmin;
}
}

@keyframes App-logo-spin {
  from {
    transform: translate(0px,10px);
  }
  to {
    transform: translate(20px,50px);
  }
}

/*.Content-home {
  background-color: #92daee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #15181a;
}*/