

  .Container-HeaderRapidNote {
    background-color: #92daee;
    width: 100%;
    height: 11vh;
  }
  .Content-HeaderInfo {
    background-color: #92daee ;
  }
  .LogoHeader {
    width: 90%;
    height: 15vh;
    margin-top: 1vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Welcome {
    margin-left: -5em;
    margin-top: 0vmin;
    font-family: 'apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;';
    font-size: 14px;
  }
  .Content-BtnLogOut {
    margin-top: -6vmin;
    margin-left: 8em;

  }
  .BtnLogOut{
  height: 1vmin;
  width: 50vmin;
  font-family: 'apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;';
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: blue;
  padding: 0px 0px 0px 0px;
  background-color: #92daee;
  }

/*For tablet Ipad Air*/
@media (min-width: 600px) and (max-width: 1199px) {

  .LogoHeader {
    width: 90%;
    height: 8em;
    margin-top: 2em;
    margin-left: 6em;
  }
  .Welcome {
    margin-left: -3em;
    font-size: 24px;
    margin-top: 3vmin;
  }
  .Content-BtnLogOut {
    margin-top: -1.8em;
    margin-left: 19em;
    background-color:#92daee;
  }
  .BtnLogOut{
    height: 1vmin;
    width: 8em;
    font-size: 24px;
    }
}