/*Mobile vertical*/
@media only screen and (min-width: 365px) {
  * {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
  }
  .App-logotext {
    width: 20em;
    margin-left: 1.3em;
    margin-top: -12em;
  }
  .App-logo {
    margin-left: 5em;
    width: 12em;
    animation: App-logo-spin infinite 2s linear;
    margin-top: -1em;
  }
  .Title-home {
    font-family: "Sanchez";
    font-size: 19px;
    margin-top: 4vmin;
    margin-left: 0em;
    padding: 0px;
    text-align: center;
    margin-top: 2.5em;
  }
  .Content-home {
    background-color: #92daee;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .Content-btn {
    background-color: #92daee;
    margin-top: -13em;
    margin-left: 7em;
    width: 9em;
  }
  .Btn-home {
    height: 12vmin;
    width: 8em;
    font-family: "Sanchez";
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
  }
  .styleLine {
    font-family: "Sanchez";
    font-size: 19px;
  }
  .Content-link {
    font-family: "Sanchez";
    font-size: 14px;
    margin-top: 8vmin;
    background-color: #92daee;
    text-align: center;
    width: 20em;
    margin-top: -1em;
    padding: 40px 0px 0px 0px;
  }
  .Link-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: blue;
    margin-top: -1em;
    padding: 2vmin 2vmin 2vmin 2vmin;
  }
}
/*Mobile horizontal*/
@media only screen and (min-width: 600px) {
  * {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
  }
  .App-logotext {
    margin-left:1.1em;
    height: 5em;
    width: 90%;
    align-items: center;
    margin-top: -10em;
  }
  .Title-home {
    font-size: 24px;
    color: #15181a;
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin-top: -8.5em;
  }
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
    margin-top: -1em;
    width: 55vmin;
    margin-left: 4em;
  }
  .Content-home {
    background-color: #92daee;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 19px;
    color: #15181a;
  }
  .Content-btn {
    background-color: #92daee;
    margin-top: -12em;
    margin-left: 13em;
  }
  .Btn-home {
    height: 1.5em;
    width: 8em;
    font-family: "Sanchez";
    font-size: 26px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-left: 3em;
    cursor: pointer;
    color: black;
  }
  .styleLine {
    margin-left: 0em;
  }
  .Content-link {
    margin-top: 1vmin;
    background-color: #92daee;
    margin-left: 18em;
    margin-top: -1em;
  }
  .Link-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:24px;
    color: blue;
    padding: 2vmin 2vmin 2vmin 2vmin;
  }
}
/*Tablet vertical*/
@media only screen and (min-width: 600px) {
  .App-logotext {
    width: 100%;
    height: 10em;
    margin-left: -0.8em;
    margin-top: -15em;
  }
  .App-logo {
    margin-left: 5em;
    width: 25em;
    animation: App-logo-spin infinite 2s linear;
    margin-top: -1em;
    margin-left: 8em;
  }
  .Title-home {
    font-family: "Sanchez";
    font-size: 40px;
    margin-top: 0em;
    text-align: center;
  }
  .Content-btn {
    margin-top: -20em;
    margin-left: 8em;
    width: 8em;
  }
  .Btn-home {
    height: 2.5em;
    width: 10em;
    font-size: 36px;
  }
  .styleLine {
    font-size: 36px;
    width: 10em;
    margin-top: 0.2em;
    margin-left: -0.6em;
  }
  .Content-link {
    width: 20em;
    margin-left: 19em;
  }
  .Link-home {
    text-align: center;
    font-size: 40px;
    margin-left: 0.4em;
  }
}
/*For Desktop*/
@media only screen and (min-width: 1200px) {
  .App-logotext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 100vmin;
    height: 26vmin;
    width: 100vmin;
    margin-top: -35vmin;
  }
  .Title-home {
    font-size: calc(18px + 2vmin);
    color: #15181a;
    padding: 0px 0px 0px 0px;
    margin-left: -75vmin;
    margin-top: -40vmin;
  }
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
    margin-top: -8vmin;
    width: 55vmin;
    margin-left: 90vmin;
  }
  .Content-home {
    background-color: #92daee;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: #15181a;
  }
  .Content-btn {
    background-color: #92daee;
    margin-top: -40vmin;
    margin-left: 40vmin;
  }
  .Btn-home {
    height: 11vmin;
    width: 37vmin;
    font-family: "Sanchez";
    font-size: calc(20px + 2vmin);
    background-color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: black;
  }
  .Content-link {
    margin-top: 2vmin;
    background-color: #92daee;
    margin-right: 100vmin;
  }
  .Link-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(20px + 2vmin);
    color: black;
    padding: 2vmin 2vmin 2vmin 2vmin;
  }
}
@keyframes App-logo-spin {
  from {
    transform: translate(0px, 10px);
  }
  to {
    transform: translate(20px, 50px);
  }
}
