/*For tablet vertical*/
@media only screen and (min-device-width: 810px)  {
.App {
  text-align: center;
}
.App-logotext {
  width: 70vmin;
  margin-left: 13vmin;
  margin-top: -40vmin;
}
.App-logo {
  margin-left: 25vmin;
  width: 50vmin;
  animation: App-logo-spin infinite 2s linear;
  margin-top: -10vmin;
}

.Title-home {
  font-family: 'Sanchez';
  font-size: calc(18px + 2vmin);
  margin-top: 4vmin;
  margin-left: 10vmin;
}
.Content-home {
  background-color: #92daee;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0vmin;
  font-size: calc(12px + 2vmin);
  color: #15181a;
}
.Content-btn {
  background-color: #92daee ;
  margin-top: -46vmin;
  margin-left: 30vmin;
}
.Btn-home {
  height: 12vmin;
  width: 40vmin;
  font-family: 'Sanchez';
  font-size: calc(20px + 3vmin);
  background-color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: black;
}
.Content-link {
  margin-top: 2vmin;
  background-color: #92daee;
  margin-right: 4vmin;
}
.Link-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(20px + 3vmin);
  color: black;
  padding: 2vmin 2vmin 2vmin 2vmin;
}
}
/*For tablet horizontal*/
@media only screen and (min-device-width: 1180px)  {
.App-logotext {
  margin-left: 23vmin;
  height: 23vmin;
  width: 85vmin;
  margin-top: -40vmin;
}
.Title-home {
  font-size: calc(28px + 2vmin);
  color: #15181a;
  padding: 0px 0px 0px 0px;
  margin-left: 17vmin;
  margin-top: -55vmin;
}
.App-logo {
  animation: App-logo-spin infinite 2s linear;
  margin-top: -0vmin;
  width: 55vmin;
  margin-left: -2vmin;
}
.Content-home {
  background-color: #92daee;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #15181a;
}
.Content-btn {
  background-color: #92daee;
  margin-top: -45vmin;
  margin-left: 56vmin;
}
.Btn-home {
  height: 11vmin;
  width: 50vmin;
  font-family: 'Sanchez';
  font-size: calc(20px + 4vmin);
  background-color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: black;
}
.Content-link {
  margin-top: 0vmin;
  background-color: #92daee;
  margin-left: 30vmin;
}
.Link-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(20px + 3vmin);
  color: black;
  padding: 2vmin 2vmin 2vmin 2vmin;
}

}

/*For Desktop*/
@media only screen and (min-width: 1200px) {
  .App-logotext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 100vmin;
    height: 26vmin;
    width: 100vmin;
    margin-top: -35vmin;
  }
  .Title-home {
    font-size: calc(18px + 2vmin);
    color: #15181a;
    padding: 0px 0px 0px 0px;
    margin-left: -75vmin;
    margin-top: -40vmin;
  }
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
    margin-top: -8vmin;
    width: 55vmin;
    margin-left: 90vmin;
  }
  .Content-home {
    background-color: #92daee;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: #15181a;
  }
  .Content-btn {
    background-color: #92daee ;
    margin-top: -40vmin;
    margin-left: 40vmin;
  }
  .Btn-home {
    height: 11vmin;
    width: 37vmin;
    font-family: 'Sanchez';
    font-size: calc(20px + 2vmin);
    background-color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: black;
  }
  .Content-link {
  margin-top: 2vmin;
  background-color: #92daee;
  margin-right: 100vmin;
  }
  .Link-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(20px + 2vmin);
    color: black;
    padding: 2vmin 2vmin 2vmin 2vmin;
  }
}
@keyframes App-logo-spin {
  from {
    transform: translate(0px,10px);
  }
  to {
    transform: translate(20px,50px);
  }
}
