
  * {
    text-align: center;
    width: 100%;
  }
  .Logotext-login {
    width: 100%;
    height: 6em;
    margin-top: -10em;
  }
  .Form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3vmin;
    margin-top: 1vmin;
  }
  .Content-btn-login {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: -0.3em;
  }
  .BtnLogin {
    height: 1.7em;
    width: 8em;
    font-family: "Sanchez";
    font-size: calc(16px + 3vmin);
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
    margin: 4vmin;
  }
  .Content-btn-google{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .LogoGoogle {
    height: 2.2em;
    width: 10em;
    margin-top: 0vmin;
    margin-left: 0vmin;
  }
  .BtnGoogle {
    height: 2.3em;
    width: 11em;
    font-family: "Sanchez";
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-left: 3em;
    cursor: pointer;
    color: black;
  }
  .App-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    color: blue;
    padding: 4vmin 0vmin 0vmin 0vmin;
    margin-top: 1em;
  }
  p {
    display: block;
    color: red;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-top: 6em;
}

/*Vista tablet iPad Air*/
@media (min-width: 600px) and (max-width: 1199px) {
  .Logotext-login {
    height: 8em;
    width: 80%;
    align-items: center;
    margin-top: -3em;
  }
  .Form-login {
    font-size: 30px;
  }

  .Content-btn-login {
    align-items: center;
    margin-top: 0em;
  }
  .BtnLogin {
    height: 2.5em;
    width: 8em;
    font-size: 32px;
  }
  .Content-btn-google{
    margin-left: 9em;
    margin-top: 1em;
  }
  .LogoGoogle {
    height: 2.5em;
    width: 10em;
    margin-top: 1vmin;
  }
  .BtnGoogle {
    height: 3.5em;
    width: 11em;
  }
  .App-link {
    font-size: 30px;
    margin-left: 1em;
    margin-top: 0.5em;
  }
}
/*Vista desktop*/
@media only screen and (min-width: 1200px) {
  .Logotext-login {
    height: 5em;
    width: 40%;
    align-items: center;
    margin-top: 1em;
  }
  .Form-login {
    font-size: 20px;
  }
  .Content-btn-google{
    margin-left: 20em;
    margin-top: 0em;
  }
  .App-link {
    font-size: 24px;
    margin-left: 0.2em;
    margin-top: 0em;
  }
}