
  .Container-note-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Sanchez";
    font-size: 24px;
    color: #15181a;
    margin-top: -5vmin;
  }
  .Container-note {
    background-color: #92daee;
    width: 98vw;
    margin-top: 10vmin;
    border-radius: 10px;
    padding: 10px 10px 6vmin 10px;
  }
  .LogNote {
    width: 35vmin;
    margin-left: 2vmin;
    margin-top: -65vmin;
  }
  .Content.cat {
    margin-top: 0vmin;
  }
  .catNote {
    width: 40vmin;
    margin-top: 20vmin;
    margin-left: 1em;
  }
  .titleAddNote {
    font-family: "Sanchez";
    font-size: 30px;
    color: black;
    margin-top: 0vmin;
    margin-left: 0vmin;
  }
  .input-group-text {
    margin-top: 0vmin;
  }
  input.formTitleNote {
    width: 84vmin;
    text-align: center;
    margin-left: -0.2em;
    margin-top: -5vmin;
  }
  .input-group-textarea {
    width: 30vw;
    background-color: #92daee;
  }
  textarea.textareaNote {
    margin-top: 0vmin;
    width: 85vmin;
    border-radius: 10px;
    margin-left: -4.5em;
    text-align: center;
    font-family: "Sanchez";
    font-size: 24px;
    color: #15181a;
    background-color: #fff;
  }
  .btnPrimary {
    background-color: white;
    margin-top: 1vmin;
    margin-left: -1vmin;
    border: none;
    border-radius: 10px;
    font-family: "Sanchez";
    font-size: 24px;
    color: #15181a;
    padding: 10px 10px 10px 10px;
    width: 85vmin;
  }
  .noteList {
    width: 100vmin;
    height: 100vh;
    margin-left: 10vmin;
  }
  .notesContent {
    width: 88vmin;
    margin-left: 11vmin;
    margin-top: 3vmin;
  }
  .noteCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 156);
    width: 95vw;
    border-radius: 15px;
    font-family: "Sanchez";
    font-size: 24px;
    color: #15181a;
    margin-top: 2vmin;
    margin-left: -9vmin;
    padding: 10px 10px 4vmin 10px;
  }
  h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Sanchez";
    font-size: 24px;
    color: #15181a;
    margin-top: 0vmin;
    padding: 0vmin;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Sanchez";
    font-size: 24px;
    padding: 5px 5px 5px 5px;
    color: #15181a;
    margin-top: -4vmin;
  }
  .contentBtnClose {
    margin-left: 12em;
    margin-top: -9vmin;
    width: 2vmin;
    border: none;
    background-color: rgb(247, 247, 156);
  }
  .closeNote {
    width: 7vmin;
    height: 7vmin;
    background-color: rgb(247, 247, 156);
    border: none;
    margin-top: -3vmin;
  }
  .btnClose {
    border: none;
    width: 1em;
    background-color: rgb(247, 247, 156);
  }
  .contentBtnEdit {
    margin-right: 17em;
    margin-top: 0vmin;
    width: 2vmin;
    background-color: rgb(247, 247, 156);
  }
  .editNote {
    width: 8vmin;
    height: 8vmin;
    background-color: rgb(247, 247, 156);
    margin-left: 0.5vmin;
    margin-top: 0vmin;
    border-radius: 5px;
    border: none;
  }
  button.btnLoad {
    background-color: white;
    margin-top: 3vmin;
    border: none;
    border-radius: 15px;
    font-family: "Sanchez";
    font-size: 1em;
    color: #15181a;
    border-color: #818283;
    padding: 5px 5px 5px 5px;
  }
  .editTitleLoad {
    width: 87vmin;
    margin-left: 2vmin;
    margin-top: 0vmin;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    border-color: #818283;
    color: #15181a;
    background-color: rgb(247, 247, 156);
  }
  .editDescriptionLoad {
    width: 88vmin;
    border-radius: 15px;
    margin-left: 1vmin;
    text-align: center;
    font-family: "Sanchez";
    font-size: 1em;
    border-color: #818283;
    color: #15181a;
    margin-top: 3vmin;
    background-color: rgb(247, 247, 156);
  }

/*Tablet iPad Air*/
@media (min-width: 600px) and (max-width: 1199px) {
  .catNote {
    display: none;
  }
  .titleAddNote {
    align-items: center;
    margin-top: -4em;
  }
  .Container-note {
    background-color: #92daee;
    width: 23em;
    display: flex;
    align-items: center;
    margin-top: 8em;
    border-radius: 10px;
    padding: 10px 10px 6vmin 10px;
  }
  input.formTitleNote {
    width: 20em;
    margin-left: -1.5em;
    margin-top: -5vmin;
    display: flex;
    align-items: center;
  }
  textarea.textareaNote {
    width: 25em;
    margin-left: -8em;
    align-items: center;
    font-family: "Sanchez";
    font-size: 24px;
    color: #15181a;
  }

  .btnPrimary {
    margin-top: 12em;
    font-size: 22px;
    margin-left: -23em;
    width: 14em;
}
  .noteCard {
    width: 80%;
    margin-left: 0.7em;
}
.contentBtnClose {
  margin-left: 19.5em;
  width: 2em;
  margin-top: -3vmin;
}
.closeNote {
  width: 4vmin;
  height: 4vmin;
}
.contentBtnEdit {
  margin-left: -4em;
  width: 2em;
}
.editNote {
  width: 4vmin;
  height: 4vmin;
  margin-left: 0.5vmin;

}
.editTitleLoad {
  width: 21em;
  margin-left: 1em;
  border-radius: 10px;;
}

.editDescriptionLoad {
  width: 21em;
  border-radius: 10px;
  margin-left: 1em;
}

}