@media only screen and (min-device-width: 810px) {
  .App {
    text-align: center;
  }
  .Logotext-register {
    width: 95vmin;
    height: 31vmin;
    margin-left: 4vmin;
    margin-top: -15vmin;
  }
  .cat-register {
    width: 25vmin;
    height: 35vmin;
    margin-left: 0vmin;
    margin-top: -12vmin;
  }
  .Content-register {
    background-color: #92daee;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Sanchez";
    font-size: calc(17px + 3vmin);
    color: #15181a;
  }
  .Title-register {
    font-family: "Sanchez";
    font-size: calc(40px + 2vmin);
    margin-top: 1vmin;
  }
  .Form-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0vmin;
    margin-top: -5vmin;
  }
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    color: black;
    font-family: "Sanchez";
    font-size: calc(17px + 3vmin);
    padding: 10px 25px;
    text-decoration: none;
    margin: 15px 1px;
    cursor: pointer;
  }
  .Content-btn-register {
    background-color: #92daee;
    margin-top: 5vmin;
    margin-left: 12vmin;
  }
  .btnRegister {
    height: 11vmin;
    width: 40vmin;
    font-family: "Sanchez";
    font-size: calc(16px + 4vmin);
    background-color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: black;
  }
  .Link-register {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(20px + 3vmin);
    color: black;
    padding: 2vmin 0vmin 0vmin 0vmin;
    margin-left: 13vmin;
    margin-top: 2vmin;
  }
}
/*For tablet horizontal*/
@media only screen and (min-device-width: 1180px) {
  .Logotext-register {
    margin-left: 0vmin;
    width: 85vmin;
    height: 31vmin;
    margin-top: -15vmin;
  }
  .Title-register {
    font-family: "Sanchez";
    font-size: calc(40px + 2vmin);
    margin-top: 0vmin;
  }
  .cat-register {
    width: 30vmin;
    height: 45vmin;
    margin-top: -3vmin;
    margin-left: 75vmin;
  }
  .Form-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: -45vmin;
    margin-right: 55vmin;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    color: black;
    font-family: "Sanchez";
    font-size: calc(20px + 2vmin);
    padding: 16px 32px;
    text-decoration: none;
    margin: 15px 1px;
    cursor: pointer;
  }
  .Content-btn-register {
    margin-top: 5vmin;
    margin-left: 12vmin;
  }
  button {
    height: 11vmin;
    width: 37vmin;
    font-family: "Sanchez";
    font-size: calc(20px + 3vmin);
    background-color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: black;
  }
  .Content-link-register {
    width: 0vmin;
    margin-top: -13vmin;
    background-color: #92daee;
  }
  .Link-register {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(20px + 3vmin);
    color: black;
    width: 40vmin;
    margin-left: 68vmin;
    padding: 2vmin 0vmin 0vmin 0vmin;
  }
}
