@media only screen and (min-width: 365px) {
  .App {
    text-align: center;
  }
  .Logotext-register {
    width: 16em;
    height: 31vmin;
    margin-top: -1em;
  }
  .cat-register {
    width: 4em;
    height: 6em;
    margin-left: 6em;
    margin-top: -12vmin;
  }
  .Content-register {
    background-color: #92daee;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Sanchez";
    font-size: 24px;
    color: #15181a;
  }
  .Title-register {
    font-family: "Sanchez";
    font-size: calc(40px + 2vmin);
    margin-top: 1vmin;
  }
  .Form-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0.6em;
    margin-top: -5vmin;
  }
  label {
    margin-top: 0.5em;
    margin-left: -0.5em;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    border-radius: 10px;
    color: black;
    font-family: "Sanchez";
    font-size: 24px;
    padding: 10px 25px;
    text-decoration: none;
    margin: 15px 1px;
    cursor: pointer;
  }
  .Content-btn-register {
    background-color: #92daee;
    margin-top: 5vmin;
    margin-left: 3.4em;
    width:8em ;
  }
  .btnRegister {
    height: 2em;
    width: 5.5em;
    font-family: "Sanchez";
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
  }
  .Link-register {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    color: black;
    padding: 2vmin 0vmin 0vmin 0vmin;
    margin-left: -0.2em;
    margin-top: 0.5em;
  }
}
/*For tablet horizontal*/
@media only screen and (min-width: 670px) {
  .Logotext-register {
    margin-left: 0em;
    height: 5em;
    width: 28em;
    margin-top: -2em;
  }
  .Title-register {
    font-family: "Sanchez";
    font-size: calc(40px + 2vmin);
    margin-top: 0vmin;
  }
  
  .Form-register {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: flex-start;
    justify-content: center;
    margin-top: -4.5em;
    margin-left: 4em;
  }

  label {
  margin-left: -14em;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    color: black;
    font-family: "Sanchez";
    font-size: 22px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 15px 1px;
    cursor: pointer;
    width: 50%;
    height: 1.5em;
    margin-left: 3em;
    margin-top: -1.5em;
  }

  .cat-register {
    width: 4em;
    height: 6em;
    margin-top: -2em;
    margin-left: 22em;
  }

  .Content-btn-register {
    margin-top: 0.5em;
    margin-left: 2em;
  }
  button {
    height: 11vmin;
    width: 37vmin;
    font-family: "Sanchez";
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
  }
  .Content-link-register {
    width: 7em;
    margin-top: -2.3em;
    background-color: #92daee;
    margin-left: 9.5em;
  }
  .Link-register {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    color: black;
    padding: 2vmin 0vmin 0vmin 0vmin;
  }
}
